.container{
    /* background-color: violet; */
    height: 580px;
    margin: auto;
}

.container h1,h3{
    text-align: center;
    color: rgb(89, 0, 255);
    padding: 5px;
}

.container .container-left{
    float: left;
    width: 55%;
    /* border: 1px solid red; */
    height: 470px;
    padding: 0%;
    /* position: relative; */
    display: flex;
    justify-content: center;
} 
.form{
    padding: 100px;
}
input{
    /* width: 80%; */
    /* margin-top: 50px; */
    margin: 5px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(89, 0, 255);
    border-radius: 2px;
}
button{
    width: 45%;
    margin: 5px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(89, 0.2, 255, 0.860);
    color: white;
    border: 1px solid rgb(89, 0, 255);
    border-radius: 2px;
}
.container .container-right{
    float: right;
    width: 43%;
    /* border: 1px solid red; */
    height: 470px;
    /* padding-right: 1%; */
    background-image: url(transfer.gif);
    background-repeat: no-repeat;
}

